    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: black;
        display: flex;
        place-items: center;
        min-height: 100vh;
    }
    
    main {
        display: grid;
        grid-template-areas: 'a a b' 'c d e';
        gap: 10px;
        width: 50%;
        margin: auto;
    }
    
    main div {
        padding: 2em;
        text-align: center;
        border-radius: 5px;
    }
    
    .itemA {
        background-color: #cc5500;
        grid-area: a;
    }
    
    .itemB {
        background-color: #ffcc00;
        grid-area: b;
    }
    
    .itemC {
        background-color: #006400;
        grid-area: c;
    }
    
    .col {
        background-color: #c0ffff;
        column-gap: 10px;
    }
    
    .itemD {
        grid-area: d;
    }
    
    .temE {
        grid-area: e;
    }